@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body > section {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    height: 100vh;
}

section#celular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    position: absolute;
}

article.link {  
    text-align: right;
}


img.circulo {
    display: inline-block;
    padding : 10px;
    width: 50px;
    border-radius: 50%;
}

a {
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0));
}

