@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body > section {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    height: 100vh;
}

section#celular {
    position: absolute;
    background: url(imagens/frame-iphone.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 311px;
    min-height: 627px;
    max-height: 627px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: absolute;
    top: 80px;
    left: 20px;
    height: 473px;
    width: 270px;
}

article.link {  
    text-align: right;
}

img.circulo {
    display: inline-block;
    margin: 10px;
    width: 50px;
    border-radius: 50%;
    transition-duration: 0.3s;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.445));

}

img.circulo:hover {
    transform: translate(-5px, -5px);
    filter: drop-shadow(-0.5px -0.5px 2px white);
}
